{% load static %}
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
<div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="{% url 'games:index' %}" class="logo">
                    <img src="{% static 'assets/images/logo.png' %}" alt="">
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Search End ***** -->
                <div class="search-input">
                    <form id="search" action="#">
                    <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                    <i class="fa fa-search"></i>
                    </form>
                </div>
                <!-- ***** Search End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <li><a href="{% url 'games:index' %}" class="active">Home</a></li>
                    <li><a href="{% url 'games:browse' %}">Browse</a></li>
                    {% comment %} <li><a href="{% url 'games:details' %}">Details</a></li> {% endcomment %}
                    <li><a href="{% url 'streams:streams' %}">Streams</a></li>
                    <li><a href="profile.html">Profile <img src="{% static 'assets/images/profile-header.jpg' %}" alt=""></a></li>
                </ul>   
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
            </nav>
        </div>
    </div>
</div>
</header>
<!-- ***** Header Area End ***** -->
