{% extends "base.html" %}
{% load static %}

{% block content %}
  


          <!-- ***** Featured Games Start ***** -->
          <div class="row">
            <div class="col-lg-8">
              <div class="featured-games header-text">
                <div class="heading-section">
                  <h4><em>Featured</em> Games</h4>
                </div>
                <div class="owl-features owl-carousel">
                  
                  {% for game in games %}
                    <div class="item">
                      <div class="thumb">
                        <img src="{{game.mimage.url}}" alt="">
                        <div class="hover-effect">
                          <h6>{{game.streams.count}} Streaming</h6>
                        </div>
                      </div>
                      <h4><a href="{% url 'games:details' game.slug %}">{{game.name}}</a><br><span>{{game.downloaders.count}} Downloads</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> {{game.rate}}</li>
                        <li><i class="fa fa-download"></i> {{game.downloaders.count}}</li>
                      </ul>
                    </div>
                  {% endfor %}
                    
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="top-downloaded">
                <div class="heading-section">
                  <h4><em>Top</em> Downloaded</h4>
                </div>
                <ul>
                  {% for game in games|slice:3 %}
                    <li>
                      <img src="{{game.mimage.url}}" alt="" class="templatemo-item">
                      <h4><a href="{% url 'games:details' game.slug %}">{{game.name}}</a></h4>
                      <h6>{{game.company}}</h6>
                      <span><i class="fa fa-star" style="color: yellow;"></i> {{game.rate}}</span>
                      <span><i class="fa fa-download" style="color: #ec6090;"></i> {{game.downloaders.count}}</span>
                      <div class="download">
                        <a href="#"><i class="fa fa-download"></i></a>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                <div class="text-button">
                  <a href="{% url 'games:browse' %}">View All Games</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Featured Games End ***** -->

          <!-- ***** Start Stream Start ***** -->
          <div class="start-stream">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>How To Start Your</em> Live Stream</h4>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="item">
                    <div class="icon">
                      <img src="{% static 'assets/images/service-01.jpg' %}" alt="" style="max-width: 60px; border-radius: 50%;">
                    </div>
                    <h4>Go To Your Profile</h4>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="item">
                    <div class="icon">
                      <img src="{% static 'assets/images/service-02.jpg' %}" alt="" style="max-width: 60px; border-radius: 50%;">
                    </div>
                    <h4>Live Stream Button</h4>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="item">
                    <div class="icon">
                      <img src="{% static 'assets/images/service-03.jpg' %}" alt="" style="max-width: 60px; border-radius: 50%;">
                    </div>
                    <h4>You Are Live</h4>     
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="main-button">
                    
                    {% if request.user.is_authenticated %}
                      <a href="{% url 'accounts:profile' request.user.profile.slug %}">Go To Profile</a>
                    {% else %}
                      <a href="{% url 'accounts:login' %}">Go To Profile</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Start Stream End ***** -->

          <!-- ***** Live Stream Start ***** -->
          <div class="live-stream">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Most Popular</em> Live Stream</h4>
              </div>
            </div>
            <div class="row">
              {% for stream in streams %}
                
                {% if stream.status == True %}
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <div class="thumb">
                        <img src="{{stream.image.url}}" alt="">
                        <div class="hover-effect">
                          <div class="content">
                            <div class="live">
                              <a href="#">Live</a>
                            </div>
                            <ul>
                              <li><a href="#"><i class="fa fa-eye"></i> {{stream.viewers.count}}</a></li>
                              <li><a href="#"><i class="fa fa-gamepad"></i> {{stream.type}}</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="down-content">
                        <div class="avatar">
                          <img src="{{stream.streamer.profile.image.url}}" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                        </div>
                        <span><i class="fa fa-check"></i> <a href="{% url 'accounts:profile' stream.streamer.profile.slug %}">{{stream.streamer}}</a></span>
                        <h4>{{stream.title}}</h4>
                      </div> 
                    </div>
                  </div>
                {% endif %}
                  
              {% endfor %}
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="{% url 'streams:streams' %}">Discover All Streams</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Live Stream End ***** -->

{% endblock content %}