{% extends 'base.html' %}
{% block content %}

<!-- ***** Banner Start ***** -->
<div class="row">
  <div class="col-lg-12">
    <div class="main-profile ">
      <div class="row">
        <div class="col-lg-4">
          <img src="{{profile.image.url}}" alt="" style="border-radius: 23px;">
        </div>
        <div class="col-lg-4 align-self-center">
          <div class="main-info header-text">
            
            {% if request.user %}
              <span>Online</span>
            {% else %}
              <span>Offline</span>
            {% endif %}
            <h4>{{profile.user.first_name}}</h4>
            <p>{{profile.bio}}</p>
            
            {% if profile.user == request.user %}
              <div class="main-border-button">
                <a href="#">Start Live Stream</a>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-4 align-self-center">
          <ul>
            <li>Games Downloaded <span>{{profile.user.games.count}}</span></li>
            <li>Friends Online <span>{{profile.friends.count}}</span></li>
            <li>Live Streams <span>{{profile.user.streams.count}}</span></li>
            <li>Clips <span>{{profile.user.clipper.count}}</span></li>
          </ul>
        </div>
      </div>
      
      {% if profile.user.clipper.count > 0 %}
      <div class="row">
        <div class="col-lg-12">
          <div class="clips">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  {% if profile.user == request.user %}
                    <h4><em>Your Most Popular</em> Clips</h4>
                  {% else %}
                    <h4><em>His Most Popular</em> Clips</h4>
                  {% endif %}
                </div>
              </div>
              
              {% for clip in profile.user.clipper.all %}
                <div class="col-lg-3 col-sm-6">
                  <div class="item">
                    <div class="thumb">
                      <img src="{{clip.image}}" alt="" style="border-radius: 23px;">
                      <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="down-content">
                      <h4>{{clip.title}}</h4>
                      <span><i class="fa fa-eye"></i> {{clip.viewers.count}}</span>
                    </div>
                  </div>
                </div>
              {% endfor %}
              {% comment %} <div class="col-lg-12">
                <div class="main-button">
                  <a href="#">Load More Clips</a>
                </div>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- ***** Banner End ***** -->

<!-- ***** Gaming Library Start ***** -->
{% if profile.user == request.user %}
  <div class="gaming-library profile-library">
    <div class="col-lg-12">
      <div class="heading-section">
        <h4><em>Your Gaming</em> Library</h4>
      </div>
      
      {% for game in profile.user.games.all %}
        <div class="item">
          <ul>
            <li><img src="{{game.mimage.url}}" alt="" class="templatemo-item"></li>
            <li><h4><a href="{% url 'games:details' game.slug %}">{{game.name}}</a></h4><span>{{game.company}}</span></li>
            <li><h4>Date Added</h4><span>{{game.data_added}}</span></li>
            <li><h4>Hours Played</h4><span>634 H 22 Mins</span></li>
            <li><h4>Currently</h4><span>Downloaded</span></li>
            <li><div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div></li>
          </ul>
        </div>	
      {% endfor %}

    </div>
  </div>
{% endif %}
<!-- ***** Gaming Library End ***** -->

{% endblock content %}